@charset 'UTF-8';
@font-face{ font-family: 'akashi';
	src:url('font/akashi-webfont.eot');
	src:url('font/akashi-webfont.eot?#iefix') format('embedded-opentype'),
		url('font/akashi-webfont.woff') format('woff'),
		url('font/akashi-webfont.ttf') format('truetype'),
		url('font/akashi-webfont.svg#webfont') format('svg');
	}
@font-face{ font-family: 'Vera-Bold';
	src:url('font/Vera-Bold-webfont.eot');
	src:url('font/Vera-Bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('font/Vera-Bold-webfont.woff') format('woff'),
		url('font/Vera-Bold-webfont.ttf') format('truetype'),
		url('font/Vera-Bold-webfont.svg#webfont') format('svg');
	}
@font-face{ font-family: 'AftaSansThin-Regular';
	src:url('font/AftaSansThin-Regular-webfont.eot');
	src:url('font/AftaSansThin-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('font/AftaSansThin-Regular-webfont.woff') format('woff'),
		url('font/AftaSansThin-Regular-webfont.ttf') format('truetype'),
		url('font/AftaSansThin-Regular-webfont.svg#webfont') format('svg');
	}
@font-face{ font-family: 'Amaranth-webfont';
	src:url('font/Amaranth-webfont.eot');
	src:url('font/Amaranth-webfont.eot?#iefix') format('embedded-opentype'),
		url('font/Amaranth-webfont.woff') format('woff'),
		url('font/Amaranth-webfont.ttf') format('truetype'),
		url('font/Amaranth-webfont.svg#webfont') format('svg');
	}
@font-face {
    font-family: 'LigatureSymbols';
    src: url('font/LigatureSymbols-2.08.eot');
    src: url('font/LigatureSymbols-2.08.eot?#iefix') format('embedded-opentype'),
         url('font/LigatureSymbols-2.08.woff') format('woff'),
         url('font/LigatureSymbols-2.08.ttf') format('truetype'),
         url('font/LigatureSymbols-2.08.svg#LigatureSymbols') format('svg');
    src: url('font/LigatureSymbols-2.08.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BloklettersBalpen';
    src: url('font/Blokletters-Balpen-webfont.eot');
    src: url('font/Blokletters-Balpen-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Blokletters-Balpen-webfont.woff') format('woff'),
         url('font/Blokletters-Balpen-webfont.ttf') format('truetype'),
         url('font/Blokletters-Balpen-webfont.svg#BloklettersBalpen') format('svg');
    font-weight: normal;
    font-style: normal;
}
span.cd{
	font-family:monospace;
	color:rgb(0,0,160);
	font-weight:bold;
	}
.lsf {
  font-family: 'LigatureSymbols';
    font-weight: normal;
    font-style: normal;
  font-size:20px;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.fb-like{
	position:relative;
	float:right;
	margin-top:52px;
	}
.lsf-icon:before {
  content:attr(title);
  margin-right:0.8em;
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
/*for FireFox*/
    ::-moz-focus-inner, button:focus, a:focus,img:focus
    {   
        border : 0px;
		outline:none;
		
    } 
body{
	margin:0;
	padding:0;  background: #28343b url(../img/pat2.png);
	}
.b-top{
	margin:0;
	background-color:#fff;
	width:100%;
	height:2px;
	}
.main{
	width:95%;
	margin-left:auto;
	margin-right:auto;
	background:white url(http://anky3.github.com/c-decoded/img/noise.png);
	overflow:hidden;
	}
a.sm{
	opacity:0.85;
	margin-top:60px;
	margin-right:10px;
	float:right;
	width:30px;
	height:31px;
	}
a.sm:hover {
	opacity:1;
	margin-top:56px;
	}
a.sm:visited {
	opacity:0.86;
	margin-top:60px;
	}
a.sm2{
	opacity:0.85;
	margin-top:60px;
	margin-right:20px;
	float:right;
	width:30px;
	height:31px;
	}
a.sm2:hover {
	opacity:1;
	margin-top:56px;
	}
a.sm2:visited {
	opacity:0.86;
	margin-top:60px;
	}
.head{
	margin:0;
	padding:0;
	background:#F00078 url(../img/pat7.png);
	height:100px;
	text-align:left;
	width:100%;
	}
.menu{
	height:38px;
	padding-bottom:0px;
	padding-top:5px;
	}
.h-top{
	margin:0;
	background-color:#56E700;
	width:100%;
	height:4px;
	}
.content{
	width:70%;
	margin-left:auto;
	margin-right:auto;
	margin:80px 0 0;
	padding:0;
	padding-bottom:50px;
	}
div.pagination{
	width:40%;
	margin-left:auto;
	margin-right:auto;
	
	}
ul.pagination, ul.pagination a{
	padding:0;
	padding-bottom:1;
	margin:0;
	list-style: none;
	position:relative;
	color:black;
	white-space:nowrap;
	font-family: 'Arial', sans-serif;
	font-size:20px;
	background:#50C1E7;
	border-radius: 10px 30px / 15px 25px;	
	text-align:center;
	}
ul.pagination li{
	display: inline;
	margin-right:10px;
	margin-left:10px;
}
ul.pagination li a, ul.pagination li a:hover, ul.pagination li a:active, ul.pagination li a:visited{
	text-decoration:none;
}
li.present{
	background:#0054A8;
	color:white;
	padding:0 6px 0;
	}
li.hide{
	visibility:hidden;
	}
hr.ft{
	width:98%;
	color:#E9E1FF;
	padding:0;
	margin:8px 0 8px;
	}
.footer{
	width:30%;
	margin-left:auto;	
	}
.footer p{
	font-family:'Tahoma', sans-serif;
	color:#000;
	text-shadow: 1px 1px 4px #6D6D6D;
	font-size:11px;
	text-align:right;
	padding:4px 12px 4px;
	margin:0;
	}
.tab{
	margin:0 32px 0; 
	}
h1.head-logo{
	position:absolute;
	margin:20px 32px 0px;
	padding:0;
	}
.head-logo, .head-logo a, .head-logo a:hover, .head-logo a:active, .head-logo a:focus, .head-logo a:link, .head-logo a:visited{
	padding:0;
	font-weight:bold;
	font-family: 'akashi', sans-serif;
	font-size:48px;
	color:white;
	text-shadow: 2px 2px 3px #d5d2d2;
	text-decoration:none;
	cursor:pointer;
	}
p.tl{
	margin:24px 0 0;
	font-weight:900;
	padding:4px 12px 4px;
	text-align:left;
	font-family: 'Vera-Bold', sans-serif;
	font-size:16px;
	color:#444444;
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
	border: 1px solid #CACACA;
	border-radius: 2px;
	box-shadow: 3px 3px 8px #E4E4E4;
	}
p.para{
	margin:24px 0 20px;
	padding:0 8px 0;
	font-family: 'Amaranth-webfont', sans-serif;
	font-size:16px;
	text-align:left;
	width:90%;
	color:#444444;
	}
div.para{
	margin:24px 0 20px;
	padding:0 8px 0;
	font-family: 'Amaranth-webfont', sans-serif;
	font-size:16px;
	text-align:left;
	width:90%;
	color:#444444;
	}
p.output{
	margin:24px  0 20px;
	padding: 6px 18px 20px;
	height: 300px;
	overflow:auto;
	border:6px double white;
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
	font-size:16px;
	width:80%;
	background:black;
	white-space:pre;
	font-weight:bold;
	text-align:left;
	color:#c0c0c0;
	}
.balloon_sm{
	position:absolute;
	margin:-80px -130px 0 ;
	padding: 5px;
	visibility: hidden;
	color:white;
	font:normal 22px 'BloklettersBalpen', sans-serif;
	line-height: 18px;
	z-index: 100;
	text-align:right;
	width:100%;
	/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
	filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135,Strength=5);
	}
.balloon_sm img, .balloon_sm2 img, .balloon_sm3 img{
display:hidden;
	}
.balloon_sm2{
	position:absolute;
	margin:-80px -70px 0 ;
	padding: 5px;
	visibility: hidden;
	color:white;
	font:normal 22px 'BloklettersBalpen', sans-serif;
	line-height: 18px;
	z-index: 100;
	text-align:right;
	width:100%;
	/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
	filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135,Strength=5);
	}
.balloon_sm3{
	position:absolute;
	margin:-80px -240px 0 ;
	padding: 5px;
	visibility: hidden;
	color:white;
	font:normal 22px 'BloklettersBalpen', sans-serif;
	line-height: 18px;
	z-index: 100;
	text-align:right;
	width:100%;
	/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
	filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135,Strength=5);
	}
.tip, .tip a:link, .tip a:active, .tip a:visited{
	font-family: 'Amaranth-webfont', sans-serif;
	font-size:16px;
	text-align:left;
	color:#444444;
    text-decoration: underline;
}
.tip:hover, .tip a:hover {
    color: black;
    text-decoration: underline;
	cursor:pointer;
}
.tip2, .tip2 a:link, .tip2 a:active, .tip2 a:visited{
	font-family: 'Amaranth-webfont', sans-serif;
	font-size:16px;
	text-align:left;
	color:#444444;
    text-decoration: none;
}
.tip2:hover, .tip2 a:hover {
    color: black;
    text-decoration: none;
	cursor:pointer;
	border-color:black;
}
.place-h{
	margin:0px 23.5% 0;
	padding:0;
	width:200px;
	float:left;
	font-weight:bold;
	font-family: 'Arial', sans-serif;
	font-size:11px;
	text-align:left;
	color:grey;
	}
.para-code{
	margin:36px 0 50px;
	padding:0;
	width:90%;
	text-align:left;
	}
ol.num{
	padding:0;
	margin:0 60px 0;
	text-align:left;
	font-family: 'Amaranth-webfont', sans-serif;
	font-size:16px;
	color:#444444;
	}
ol.num li{
	padding-bottom:4px;
	}
ol.num2{
	padding:0;
	margin:0 60px 0;
	text-align:left;
	font-family: 'Amaranth-webfont', sans-serif;
	font-size:16px;
	color:#444444;
	}
ol.num2 li{
	padding-bottom:16px;
	}
ul.circle{
	padding:0;
	padding-left:60px;
	text-align:left;
	width:100%;
	font-family: 'Amaranth-webfont', sans-serif;
	font-size:16px;
	list-style-type:disc;
	color:#444444;
	}
ul.circle li{
	padding-bottom:4px;
	}
span.brdr, span.brdr2{
	border:2px solid #444444;
	padding:4px;
	}
span.brdr2 a:hover, span.brdr2:hover{
	border:2px solid black;
	}
ul.none{
	padding:0;
	margin:4px 160px 0;
	text-align:left;
	width:100%;
	font-family: 'Amaranth-webfont', sans-serif;
	font-size:16px;
	list-style-type:none;
	color:#444444;
	text-decoration:none;
	height:400px;
	border-left:2px solid black;
	}
ul.none li{
	padding-top:32px;
	}
ul.square{
	padding:0;
	margin:0;
	list-style-type:square;
	margin-left:120px;
	text-align:left;
	font-family: 'Amaranth-webfont', sans-serif;
	font-size:16px;
	color:#444444;
	}
ul.square li{
	padding-bottom:4px;
	}

.table1 table, .table1 th, .table1 td{
	border:2px solid #8AD0E7;
	border-collapse:collapse;
	}
.table1 table{
	align:center;
	margin:0 40px 0;
	padding:0;
	}
table.table1, table.table2, table.table3, table.table4, table.table5{
	align:center;
	margin:0 40px 0;
	padding:0;
	border-collapse:collapse;
	}
.table1 th {
	font-family: 'Trebuchet MS', sans-serif;
	font-size:16px;
	font-weight:bold;
	padding:5px 0 5px;
	background:#E1F7FF
	}
.table1 th, .table1 td{
	width:180px;
	text-align:center;
	}
.table1 td{
	font-family: 'Amaranth-webfont', sans-serif;
	font-size:16px;
	color:#444444;
	}
.table2{
	margin:15px 40px 0;
	}
.table2 td{
	width:220px;
	font-family: 'Amaranth-webfont', sans-serif;
	font-size:16px;
	text-align:left;
	color:#444444;
	}

.table3 th {
	font-family: 'Trebuchet MS', sans-serif;
	font-size:16px;
	font-weight:bold;
	padding:5px 0 5px;
	background:#E1F7FF
	}
.table3 th, .table3 td{
	width:200px;
	text-align:center;
	}
.table3 td{
	font-family: 'Amaranth-webfont', sans-serif;
	font-size:16px;
	padding:4px 2px 2px;
	color:#444444;
	}
table.table4{
	font-family: 'Trebuchet MS', sans-serif;
	font-size:16px;
	border-left:2px solid #8AD0E7;
	border-right:2px solid #8AD0E7;
border-bottom:2px solid #8AD0E7;
border-top:2px solid #8AD0E7;
	}
table.table4 th{
	font-family: 'Trebuchet MS', sans-serif;
	font-size:16px;
	font-weight:bold;
	padding:5px 0 5px;
	background:#E1F7FF;
	border-right:2px solid #8AD0E7;
border-bottom:3px solid #8AD0E7;
	text-align:center;
	}
table.table4 td{
	font-family: 'Amaranth-webfont', sans-serif;
	font-size:16px;
	padding:6px;
	width:200px;
	border-right:2px solid #8AD0E7;
	text-align:center;
	}
table.table4 tr.line{
border-bottom:1px solid #8AD0E7;
	}
table.table5 th{
	font-family: 'Trebuchet MS', sans-serif;
	font-size:16px;
	font-weight:bold;
	text-align:left;
	}
table.table5 td{
	font-family: 'Amaranth-webfont', sans-serif;
	font-size:16px;
	width:10px;
	text-align:left;
	}
span.vr{
	border-right:1px solid black;
	padding-right:8px;
	margin-left:8px;
	}
.indent{
	padding:0;
	margin:0;
	margin-left:48px;
	}
p.indent2{
	padding:0;
	margin:0;
	font-family: 'Amaranth-webfont', sans-serif;
	font-size:16px;
	text-align:left;
	color:#444444;
	margin-left:58px;
	}
img.btn:hover{
	opacity:0.92;
	}
p.indent3{
	padding:0;
	margin:0;
	font-family: 'Amaranth-webfont', sans-serif;
	font-size:16px;
	text-align:center;
	color:#444444;
	margin-left:0;
	text-decoration:underline;
	}
.search{
padding:0;
	position:absolute;
	margin: -45px 650px 0;
	height:34px;
	overflow:hidden;
	}
.doc{
	color:rgb(0,160,0);
	}
.sc{
	color:rgb(255,0,0);
	}
.kw{
	color:rgb(0,0,160);
	font-weight:bold;
	}
.str{
	color:rgb(0,0,255);
	}
.keyword {
	color: #006699 !important;
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
	font-weight:bold;
	background-color: white !important;
	border: 1px solid rgb(240, 240, 240);
	font-size: 1em !important;
 }
.func {
	color: #ff1493 !important;
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
	font-weight:bold;
	background-color: white !important;
	border: 1px solid rgb(240, 240, 240);
	font-size: 1em !important;
 }
.plain {
	color: black !important;
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
	font-weight:bold;
	background-color: white !important;
	border: 1px solid rgb(240, 240, 240);
	font-size: 1em !important;
 }